pandas
numpy
matplotlib
seaborn
scikit-learn
folium
geopandas
joblib
FastAPI
# passlib[bcrypt]
uvicorn
# bcrypt
pymongo>=4.7.0
certifi>=2024.2.2
motor 
python-jose[cryptography] 
python-multipart
python-dotenv
pydantic[email]
passlib
statsmodels